.container{
	width: 1000px;
	height: 500px;
	margin: auto;
	margin-top: 100px;
}

.buttons{
	display: inline-block;
	width: 25%;
	height: 100%;
}

.field{
	width: 74%;
	height: 100%;
	border: black solid 2px;
	float: left;
}

.button{
	width: 70%;
	padding: 5px 3px;
	margin: 30px;
	border: #d9d9d9 solid 2px;
	text-align: center;
	cursor: pointer;
	font-size: 25px;
}

.button.reset {
	cursor: default;
	border-color: red;
}

.box{
	width: 10%;
	position: relative;
	height: 20%;
	float: inherit;	
	text-align: center;
	font-size: 20px;
	border: #d9d9d9 1px solid;
	margin: -1px;
}
